<h1>{{index+1}}: {{question?.content}}?</h1>
<div>
  <div class="form-check shadow" *ngFor="let answer of question?.answers; let i = index">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [checked]="answer.checked" [value]="i"
        (change)="onCheckEvent(answer, $event)">
      {{answer.content}}
    </label>
  </div>
</div>

<!-- <div *ngIf="!question?.multipleOptions">
  <div class="form-check shadow" *ngFor="let answer of question?.answers; let i = index">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" [id]="'radio'+i" name="radio" [checked]="answer.checked" [value]="i"
        (change)="onCheckEvent(answer, $event)">
      {{answer.content}}
    </label>
  </div>
</div> -->
<span class="mt-3 float-right">Mark for review <i (click)="onClickReviewMarker()"
    [ngClass]="question.markedForReview?'fas fa-star': 'far fa-star'"></i></span>
