<div class="row">
  <div class="col m-3" *ngFor="let exam of pageRes.data">
    <app-exam-unit [exam]="exam"></app-exam-unit>
  </div>
  <div class="col text-center mt-3" *ngIf="!pageRes.data || pageRes.data.length==0">
    <h1>No exams available at the moment</h1>
  </div>
</div>
<div class="row justify-content-end">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{'disabled': pageReq.page <= 0}"><a class="page-link"
          (click)="onPreviousPage()">Previous</a>
      </li>
      <li class="page-item" *ngFor="let pageNum of pageReq.pages" [ngClass]="{'active': pageNum == pageReq.page}"><a
          (click)="onSpecifiedPage(pageNum)" class="page-link">{{pageNum+1}}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': pageReq.page >= pageRes.totalPages - 1}"><a class="page-link"
          (click)="onNextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>
