<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <span class="ml-3"><i class="fas fa-certificate"></i> Online examination</span>
    <span class="tool-bar-spacer"></span>
    <span class="float-right auth-switch" *ngIf="!isLoggedin" routerLink="/login" style="cursor: pointer;">Login
      <i class="fas fa-sign-in-alt"></i></span>
    <span class="float-right auth-switch" *ngIf="isLoggedin" (click)="onClickLogout()" style="cursor: pointer;">Logout
      <i class="fas fa-sign-out-alt"></i></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <div class="user-info" *ngIf="isLoggedin">
      <img class="avatar mat-elevation-z8" [src]="profile?.imageSrc" routerLink="/profile" />

      <h4 class="name">{{profile?.fullName}}</h4>
      <p class="email">{{profile?.email}}</p>
    </div>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/admin" *ngIf="isAdmin">
      <i class="fas fa-tasks"></i>
      <span class="ml-1">Exams</span>
    </button>

    <button mat-button class="menu-button" routerLink="/exams" *ngIf="!isAdmin">
      <i class="fas fa-home"></i>
      <span class="ml-1">All Exams</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['exams', 'recent']" *ngIf="!isAdmin && isLoggedin">
      <i class="fas fa-list"></i>
      <span class="ml-1">Recent Exams</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['admin', 'catalogues']" *ngIf="isAdmin">
      <i class="fas fa-book"></i>
      <span class="ml-1">Catalogues</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['admin', 'questions']" *ngIf="isAdmin">
      <i class="fas fa-university"></i>
      <span class="ml-1">Questions Bank</span>
    </button>

    <button mat-button class="menu-button" routerLink="/profile" *ngIf="isLoggedin">
      <i class="far fa-address-card"></i>
      <span class="ml-1">My Profile</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
