<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <span class="ml-3">Online examination</span>
    <span class="tool-bar-spacer"></span>
    <a class="float-right" *ngIf="!isLoggedin" routerLink="/login" style="cursor: pointer;">Login</a>
    <a class="float-right" *ngIf="isLoggedin" (click)="onClickLogout()" style="cursor: pointer;">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" [src]="profile?.imageSrc" routerLink="/profile" />

    <h4 class="name">{{profile?.fullName}}</h4>
    <p class="email">{{profile?.email}}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/exams">
      <i class="fas fa-home"></i>
      <span class="ml-1">Exams Explorer</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['exams', 'recent']">
      <i class="fas fa-list"></i>
      <span class="ml-1">Recent Exams</span>
    </button>

    <button mat-button class="menu-button" routerLink="/profile">
      <i class="fas fa-user"></i>
      <span class="ml-1">Profile</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
