table {
  cursor: pointer;
}

.page-link {
  color: #262e3f;
}

.page-item.active .page-link {
  background-color: #262e3f;
  border-color: #262e3f;
}

select {
  width: fit-content;
  background: lightgray;
}

.fas {
  font-size: 20px;
}

.fas:hover {
  color: red;
}
