<div class="row">
  <table class="table table-bordered table-hover mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">ExamCode</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Duration (min)</th>
        <th scope="col">Passing Score (%)</th>
        <th scope="col">Delete</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams">
        <th scope="row">{{exam.id}}</th>
        <td>{{exam.examCode}}</td>
        <td>{{exam.title}}</td>
        <td>{{exam.description}}</td>
        <td>{{exam.duration}}</td>
        <td>{{exam.passingScore}}</td>
        <td><i class="fa fa-trash" (click)="onDeleteExam(exam.id!)"></i></td>
        <td><i class="fa fa-edit" [routerLink]="[exam.id]"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row d-flex justify-content-end">
  <button class="btn btn-outline-info" (click)="isNew = true">
    New Exam
  </button>
</div>
<app-exam-edit-overall *ngIf="isNew" (closed)="isNew=false"></app-exam-edit-overall>
