<div class="row mt-3 justify-content-center">
  <h1 style="font-weight: bold;">{{exam.title}}</h1>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="timer float-left">
      <span class="minutes">{{timer.min < 10 ? '0' +timer.min: timer.min}}:</span>
          <span class="seconds">{{timer.sec < 10 ? '0' +timer.sec : timer.sec }}</span>
    </div>
    <select class="custom-select float-right">
      <option value="1" selected (click)="onChangeFilterOption('1')">All questions</option>
      <option value="2" (click)="onChangeFilterOption('2')">Not answered</option>
      <option value="3" (click)="onChangeFilterOption('3')">Mark for review</option>
    </select>
  </div>
</div>
<div *ngIf="questions?.length" class="mt-4">
  <div class="row border-top mb-4" *ngFor="let question of questions; let i = index">
    <div class="col">
      <app-question-detail [question]="question" [index]="exam.questions!.indexOf(question)"></app-question-detail>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <span class="float-left nav-btn" *ngIf="page.page > 0" (click)="previousPage()"><i class="fas fa-backward"></i>
        Previous</span>
      <span class="float-right nav-btn" *ngIf="page.page < page.totalPages - 1" (click)="nextPage()">Next <i
          class="fas fa-forward"></i></span>
    </div>
  </div>
</div>
<div *ngIf="!questions?.length">
  <div class="row p-5">
    <div class="col text-center">
      <h1>No questions found!</h1>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <button class="btn btn-outline-danger float-left" (click)="onExit()">Exit</button>
    <button class="btn btn-outline-info float-right" (click)="onSubmit()">Submit</button>
  </div>
</div>
