select {
  width: auto;
}

.timer {
  font-family: Times;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

.nav-btn {
  font-size: 17px;
  cursor: pointer;
}

.nav-btn:hover {
  color: blue;
}
