.card {
  cursor: pointer;
  position: relative;
  width: 18rem;
  height: 33rem;
}

.btn {
  position: absolute;
  bottom: 10px;
}

.btn.float-left {
  left: 10px;
}

.btn.float-right {
  right: 10px;
}
